.header-size {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin: 0;
    top : 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .background-violet { background-color: rgb(194, 49, 226); }
  .white-text        { color: white; }
  