.header-size {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .background-violet { background-color: rgb(194, 49, 226); }
  .white-text        { color: white; }
  