.white-text{
    color: white;
}
.background-orange{
    background-color: orange;
}
.footer-size {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin: 0;
    bottom : 0;
    left: 0;
    width: 100%;
    z-index: 1001;
  }