.carre {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    background-color: white;
  }
.in-carre { 
    width: 180px; 
    height: 180px; 
    cursor: pointer; 
    border: none; 
}

.blue   { 
    background-color: blue; 
}

.red    { 
    background-color: red; 
}

.green  { 
    background-color: green; 
}

.yellow { 
    background-color: yellow; 
}

  

  