.page {
    min-height: 100vh;         
    display: flex;
    flex-direction: column;
  }
  
  .center {
    flex: 1;                    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  