.page {
    min-height: 100vh;         
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
  }
  
  .center {
    flex: 1;                    
    display: flex;
    align-items: center;
    justify-content: center;

  }
  